<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="page-header">Copyright</h1>
        <p>The following policy governs the operation and management of the Sovrin Developer Exchange website.</p>
        <p>Copyright © 2020 Sovrin Foundation. All rights reserved.</p>
        <p>This material is managed by Sovrin Foundation and protected by copyright law. It may not be reproduced or redistributed without the prior written permission of Sovrin Foundation.</p>

        <h3>Permission</h3>
        <p>To request permission to reproduce all or part of any of the materials on this website, please contact security@sovrin.org.</p>
        
      </div>
    </div>
  </div>
</section>
